header{
    background-color: rgb(247, 247, 247);
}

.logo{
    display: block;
    width: 70px;
    height: 70px;
    background-color: rgb(100, 86, 223);
    position : absolute;
    top : 50px;
    left: 50px;
}

.firstWord{
    font-size: 60px;
    font-style: italic;
    color: rgb(100, 86, 223);
    margin-left: 250px;
    margin-top: 150px;
}

.textLine{
    font-size: 40px;
    color: rgb(100, 86, 223);
    margin-left: 510px;
}

.textLine2{
    font-size: 30px;
    color: rgb(100, 86, 223);
    margin-left: 510px;
    margin-top: 20px;
}



.project-info{
    margin-top: 50px;
    margin-left: 520px;
    color: gray;
}


.flexbox-container{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    
}

.flexbox-item{
    width: 350px;
    margin: 70px 100px 100px 50px;
    border : 3px double indigo;
    background-color: white;
    border-radius: 20px;
    box-shadow: 20px 20px 5px rgb(209, 209, 209);

}


.flexbox-item-1{
    min-height: 100px;
    flex-shrink: 0;
  

}

.flexbox-item-2{
    min-height: 100px;
    flex-shrink: 0;

}

.flexbox-column{
    margin: auto;
    margin-top: 5px;
    width: 330px;
    height: 20px;
    border-color: 2px solid blacks;
}

.flexbox-column-1{
    min-height: 20px;
    font-size: large;
    font-weight: 800;

}

.flexbox-column-2{ 
    min-height: 30px;
    color : grey;
}

.flexbox-column-3{
    min-height: 50px;
    color: grey;
}

.fab, .fas{
    margin-left: 5px;
}

.fa-youtube{
    color: red;
}

.fa-github{
    color: black;
}

.fa-globe{
    color: green;
}

h4,h5, a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

a{
    color: blue;
}





@media screen and (max-width: 800px) {
    .logo{
        display: block;
        width: 50px;
        height: 50px;
        background-color: rgb(100, 86, 223);
        position : absolute;
        top : 50px;
        left: 50px;
    }

    .firstWord{
        font-size: 40px;
        font-style: italic;
        color: rgb(100, 86, 223);
        margin-left: 80px;
        margin-top: 150px;
    }

    .textLine{
        margin-left: 80px;
    }
    
    .textLine2{
        margin-left: 80px;
    }
    

    .project-info{
        margin-top: 100px;
        margin-left: 60px;
        color: gray;
    }

    .flexbox-container{
       display: flex;
       flex-wrap: wrap;
       justify-content: space-around;
       align-items: center;
       align-content: space-between;
    }
}


@media screen and (max-width: 1024px) {

    .firstWord{
        font-style: italic;
        color: rgb(100, 86, 223);
        margin-left: 80px;
        margin-top: 150px;
    }

    .textLine{
        margin-left: 80px;
    }
    
    .textLine2{
        font-size: 20px;
        color: rgb(100, 86, 223);
        margin-left: 80px;
    }

    .project-info{
        margin-top: 150px;
        margin-left: 80px;
        color: gray;
    }

    .flexbox-item{
        margin: 20px;
    }
}

@media screen and (max-width: 1400px) {

    .firstWord{
        font-size: 40px;
        font-style: italic;
        text-align: left;
        margin-top: 100px;
    }

    .textLine{
        font-size: 30px;
        color: rgb(100, 86, 223);
        text-align: left;
    }
    
    .textLine2{
        font-size: 20px;
        color: rgb(100, 86, 223);
       text-align: left;
    }

    .project-info{
        margin-top: 150px;
        margin-left: 100px;
        color: gray;
    }

    .flexbox-item{
        margin: 20px;
    }

    .flexbox-container{
        margin-bottom: 50px;
    }
}

